.container{
    background-color: var(--clr1);
}
section .meme-container{
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--clr5);
}